Flask==1.0.2
https://github.com/hasgeek/coaster/zipball/master
https://github.com/hasgeek/baseframe/zipball/master
Flask-SQLAlchemy==2.3.2
https://github.com/hasgeek/flask-lastuser/zipball/master
Flask-FlatPages==0.6
Flask-Migrate==2.3.0
