#bs3-template #page-header {
  height: auto;
  visibility: visible;
}

#page-header.masthead {
  padding-top: 20px;
  padding-bottom: 10px;
}

.masthead {
  font-size: 30px;
  line-height: 40px;
}
.masthead img.logo {
  float: none;
  display: none;
}
.masthead p {
  margin-bottom: 30px;
  font-size: 19px;
  line-height: 30px;
}
.masthead p.primary {
  margin-left: 0;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 10px;
  margin-top: 0;
}
.masthead .s1 {
  color: #df5e0e;
}
.masthead .s1 a {
  border-bottom-color: #df5e0e;
}
.masthead .s2 {
  color: #816894;
}
.masthead .s2 a {
  border-bottom-color: #816894;
}
.masthead .s3 {
  color: #f0a40c;
}
.masthead .s3 a {
  border-bottom-color: #f0a40c;
}

.grey-bg p {
  font-size: 16px;
  line-height: 22px;
}

.widget-boxes {
  display: table;
}
.widget-boxes .widget {
  display: table-cell;
  vertical-align: bottom;
  padding-right: 1em;
}

.twtr-widget {
  margin-bottom: 4px;
  /* Hardcoded for font's baseline */
}

.twtr-timeline, .twtr-doc {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

#footer-twitter {
  height: 22px;
}

#root {
  margin-bottom: -108px;
}
#root #root_footer {
  height: 108px;
}

footer {
  min-height: 98px;
}
footer .footer-inner {
  min-height: 98px;
}
footer .container {
  text-align: left;
}

@media screen and (max-width: 480px) {
  #root {
    margin-bottom: -301px;
  }
  #root #root_footer {
    height: 301px;
  }

  footer {
    min-height: 291px;
  }
  footer .footer-inner {
    min-height: 291px;
  }
  footer .container {
    text-align: left;
  }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  #root {
    margin-bottom: -257px;
  }
  #root #root_footer {
    height: 257px;
  }

  footer {
    min-height: 247px;
  }
  footer .footer-inner {
    min-height: 247px;
  }
  footer .container {
    text-align: left;
  }
}
@media screen and (min-width: 768px) and (max-width: 979px) {
  #root {
    margin-bottom: -150px;
  }
  #root #root_footer {
    height: 150px;
  }

  footer {
    min-height: 140px;
  }
  footer .footer-inner {
    min-height: 140px;
  }
  footer .container {
    text-align: left;
  }
}
@media screen and (min-width: 980px) and (max-width: 1199px) {
  #root {
    margin-bottom: -128px;
  }
  #root #root_footer {
    height: 128px;
  }

  footer {
    min-height: 118px;
  }
  footer .footer-inner {
    min-height: 118px;
  }
  footer .container {
    text-align: left;
  }
}
@media screen and (min-width: 768px) {
  .masthead img.logo {
    float: left;
    display: block;
  }
  .masthead p.primary {
    margin-left: 200px;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 0;
    margin-top: 10px;
  }

  #page-header.masthead {
    padding-left: 0px;
    padding-right: 0px;
  }
}
/******* Changes to be adapted to baseframe after bs3 migration ********/
.cardset li .card-body, .userset li .card-body {
  margin: 22px -14px 0;
}

/******* Changes to be omitted after upgrading networkbar to bs3 *******/
#hg-bar .container {
  margin: 0 15px 0 15px;
}

@media screen and (min-width: 768px) {
  #hg-bar .container {
    margin: auto;
  }
}
