#page-header.masthead {
  padding-top: 20px;
  padding-bottom: 10px;
}

.masthead {
  font-size: 30px;
  line-height: 40px;
}
.masthead img.logo {
  float: left;
}
.masthead p {
  margin-bottom: 30px;
  font-size: 19px;
  line-height: 30px;
}
.masthead p.primary {
  margin-left: 200px;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 0;
  margin-top: 10px;
}
.masthead .s1 {
  color: #df5e0e;
}
.masthead .s1 a {
  border-bottom-color: #df5e0e;
}
.masthead .s2 {
  color: #816894;
}
.masthead .s2 a {
  border-bottom-color: #816894;
}
.masthead .s3 {
  color: #f0a40c;
}
.masthead .s3 a {
  border-bottom-color: #f0a40c;
}

.widget-boxes {
  display: table;
}
.widget-boxes .widget {
  display: table-cell;
  vertical-align: bottom;
  padding-right: 1em;
}

.twtr-widget {
  margin-bottom: 4px;
  /* Hardcoded for font's baseline */
}

.twtr-timeline, .twtr-doc {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

#footer-twitter {
  height: 22px;
}

#root {
  margin-bottom: -108px;
}
#root #root_footer {
  height: 108px;
}

footer {
  min-height: 98px;
}
footer .footer-inner {
  min-height: 98px;
}
footer .container {
  text-align: left;
}

@media screen and (max-width: 480px) {
  #root {
    margin-bottom: -301px;
  }
  #root #root_footer {
    height: 301px;
  }

  footer {
    min-height: 291px;
  }
  footer .footer-inner {
    min-height: 291px;
  }
  footer .container {
    text-align: left;
  }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  #root {
    margin-bottom: -257px;
  }
  #root #root_footer {
    height: 257px;
  }

  footer {
    min-height: 247px;
  }
  footer .footer-inner {
    min-height: 247px;
  }
  footer .container {
    text-align: left;
  }
}
@media screen and (min-width: 768px) and (max-width: 979px) {
  #root {
    margin-bottom: -150px;
  }
  #root #root_footer {
    height: 150px;
  }

  footer {
    min-height: 140px;
  }
  footer .footer-inner {
    min-height: 140px;
  }
  footer .container {
    text-align: left;
  }
}
@media screen and (min-width: 980px) and (max-width: 1199px) {
  #root {
    margin-bottom: -128px;
  }
  #root #root_footer {
    height: 128px;
  }

  footer {
    min-height: 118px;
  }
  footer .footer-inner {
    min-height: 118px;
  }
  footer .container {
    text-align: left;
  }
}
@media screen and (max-width: 767px) {
  .masthead img.logo {
    float: none;
  }
  .masthead p.primary {
    margin-left: 0;
  }
}
/*********** memorial on top *************/
.contentWrap {
  text-align: center;
}
.contentWrap h4 {
  font-size: 18px;
  margin-bottom: 50px;
}

.featureBorder {
  background: linear-gradient(135deg, #f6f6f6 0px, #ececec 83%, #d5d5d5 100%) repeat scroll 0 0 transparent;
  box-shadow: 2px 3px 7px #b5b5b5;
  height: 450px;
  margin: 0 auto;
  position: relative;
  width: 360px;
  display: block;
  margin-top: 70px;
}

.featureInner {
  background-color: #F4EFEA;
  box-shadow: 5px 5px 12px rgba(50, 50, 50, 0.44) inset;
  height: 418px;
  left: 16px;
  overflow: hidden;
  position: absolute;
  top: 16px;
  width: 328px;
}

.featureContent {
  background-image: url("../img/Atul_chitnis.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0 0;
  background-size: 100%;
  background-color: #FFFFFF;
  border: 1px solid #d5d5d5;
  box-shadow: 0 0 8px rgba(50, 50, 50, 0.3) inset;
  height: 386px;
  left: 15px;
  position: absolute;
  top: 16px;
  width: 297px;
}

.photo-mob {
  display: none;
}

@media screen and (max-width: 480px) {
  .featureBorder {
    display: none;
  }

  .photo-mob {
    display: block;
    margin: 30px auto;
    border: 10px solid #cccccc;
  }
}
