#page-header.masthead {
  padding-top: 22px;
}

.masthead {
  font-size: 30px;
  line-height: 44px;
}
.masthead a, .masthead a:hover, .masthead a:active {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid #005580;
}
.masthead a:hover, .masthead a:active {
  border-bottom-width: 2px;
}
.masthead p.primary {
  font-size: 30px;
  line-height: 44px;
}
.masthead p.secondary {
  font-size: 25px;
  line-height: 44px;
}
.masthead p.tertiary {
  margin-top: 22px;
  font-size: 19px;
  line-height: 33px;
}
.masthead .s1 {
  color: #816894;
}
.masthead .s1 a {
  border-bottom-color: #816894;
}
.masthead .s2 {
  color: #df5e0e;
}
.masthead .s2 a {
  border-bottom-color: #df5e0e;
}
.masthead .s3 {
  color: #f0a40c;
}
.masthead .s3 a {
  border-bottom-color: #f0a40c;
}

.widget-boxes {
  display: table;
}
.widget-boxes .widget {
  display: table-cell;
  vertical-align: bottom;
  padding-right: 1em;
}

.twtr-widget {
  margin-bottom: 4px;
  /* Hardcoded for font's baseline */
}

.twtr-timeline, .twtr-doc {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

#footer-twitter {
  height: 22px;
}

#root {
  margin-bottom: -106px;
}
#root #root_footer {
  height: 106px;
}

footer {
  min-height: 96px;
}
footer .footer-inner {
  min-height: 96px;
}
footer .container {
  text-align: left;
}

@media screen and (max-width: 480px) {
  #root {
    margin-bottom: -301px;
  }
  #root #root_footer {
    height: 301px;
  }

  footer {
    min-height: 291px;
  }
  footer .footer-inner {
    min-height: 291px;
  }
  footer .container {
    text-align: left;
  }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  #root {
    margin-bottom: -257px;
  }
  #root #root_footer {
    height: 257px;
  }

  footer {
    min-height: 247px;
  }
  footer .footer-inner {
    min-height: 247px;
  }
  footer .container {
    text-align: left;
  }
}
@media screen and (min-width: 768px) and (max-width: 979px) {
  #root {
    margin-bottom: -150px;
  }
  #root #root_footer {
    height: 150px;
  }

  footer {
    min-height: 140px;
  }
  footer .footer-inner {
    min-height: 140px;
  }
  footer .container {
    text-align: left;
  }
}
@media screen and (min-width: 980px) and (max-width: 1199px) {
  #root {
    margin-bottom: -128px;
  }
  #root #root_footer {
    height: 128px;
  }

  footer {
    min-height: 118px;
  }
  footer .footer-inner {
    min-height: 118px;
  }
  footer .container {
    text-align: left;
  }
}
