{% extends "layout.html" %}
{% from "baseframe/components.html" import responsive_networkbar with context -%}
{% block titletags -%}
  <title>{% block title %}{{ config['SITE_TITLE'] }}{% endblock %}</title>
  <meta name="DC.title" content="{{ config['SITE_TITLE'] }}"/>
{%- endblock %}
{% block headerbox %}
  <header>
    {{ responsive_networkbar(siteid=config['SITE_ID'], login=false) }}
    <div id="home-header" class="container">
      <div id="page-header" class="masthead col-md-12">
        <img src="{{ url_for('static', filename='img/hg-banner.png') }}" alt="HasGeek logo" class="logo" width="185" height="139" />
        <p class="primary">
          <span class="s1">We are HasGeek.</span>
          <span class="s2">We create discussion spaces for geeks.</span>
          <span class="s3">Come to our events to meet like-minded people,</span>
          <span class="s1">learn new things</span>
          <span class="s2">and discover new opportunities.</span>
        </p>
      </div>
    </div>
  </header>
{% endblock %}
{% block headline %}{% endblock %}
{% block content %}
  <div class="row" id="home-content">
    <div class="col-md-6 masthead">
      <p>
        We operate a popular <a href="https://hasjob.co/">job board</a>,
        hang out in an <a href="irc://irc.freenode.net/#hasgeek">IRC channel</a>, and
        publish our <a href="https://github.com/hasgeek">code</a>.
        We arrange <a href="https://geekup.in/">geekups</a> with visiting geeks
        and host a <a href="https://hacknight.in/">hacknight</a> every month.
      </p>
    </div>
    <div class="col-md-6 masthead">
      <p>
        Our activities reach thousands of developers every month.
        <a href="https://funnel.hasgeek.com/">Speak at our events</a>,
        or <a href="http://eepurl.com/duGmH">sign up to be notified</a> when we do one.
        <strong>New:</strong> Our videos are on <a href="https://hasgeek.tv/"><strong>HasGeek TV</strong></a>.
        Coming up:
      </p>
    </div>
  </div>
  <ul class="cardset row">
    {%- for etitle, edate, eurl, edesc in [
        ('Font design for the next billion people', 'Fri, Oct 10, Bangalore', 'https://geekup.in/2014/google-fonts',
          'Geekup with Dave Crossland and Pathum Egodawatta'),
        ('Droidcon India', 'Fri, Dec 5 – Sat, Dec 6, Bangalore', 'https://droidcon.in/',
          'On Android'),
        ] %}
      <li class="col-md-4 col-sm-6">
        <a href="{{ eurl }}">
          <div class="card-title">
            <h2>{{ etitle }}</h2>
            <h3>{{ edate }}</h3>
          </div>
          <div class="card-body">
            {{ edesc }}
          </div>
        </a>
      </li>
    {%- endfor %}
  </ul>
  <div class="row">
    <div class="col-md-12 masthead">
      <p>
        Previously:
        <a href="https://fifthelephant.in/2014/">The Fifth Elephant 2014</a>,
        <a href="https://rootconf.in/2014/">Rootconf 2014</a>,
        <a href="https://funnel.hasgeek.com/redis-miniconf-2014">Redis Miniconf</a>,
        <a href="https://metarefresh.in/2014/">Meta Refresh 2014</a>,
        <a href="https://metarefresh.in/2014/angularjs-miniconf">AngularJS Miniconf</a>,
        <a href="https://droidcon.in/2013/">Droidcon India 2013</a>,
        <a href="https://jsfoo.in/2013/">JSFoo 2013</a>,
        <a href="https://cssworkshop.metarefresh.in/">Responsive Web Design workshop</a>,
        <a href="http://hasgeektv.doattend.com/">HasGeek TV workshop</a>,
        <a href="https://advancedpython.hasgeek.com/">Advanced Python workshop</a>,
        <a href="https://gitworkshop.hasgeek.com/">Git workshop</a>,
        <a href="https://fifthelephant.in/2013/">The Fifth Elephant 2013</a>,
        <a href="https://pigworkshop.fifthelephant.in/">Pig workshop</a>,
        <a href="https://cssworkshop.metarefresh.in/2013-03/">CSS for the Soul</a>,
        <a href="https://metarefresh.in/2013/">Meta Refresh 2013</a>,
        <a href="https://droidcon.in/2012/">Droidcon India 2012</a>,
        <a href="https://funnel.hasgeek.com/jsfoo/">JSFoo 2012</a>,
        <a href="https://cartonama.com/2012/">Cartonama Conference</a>,
        <a href="https://fifthelephant.in/2012/">The Fifth Elephant 2012</a>,
        <a href="https://rootconf.in/bangalore2012">Rootconf</a>,
        <a href="https://metarefresh.in/2012/">Meta Refresh 2012</a>,
        <a href="https://workshop.cartonama.com/">Cartonama Workshop</a>,
        JSFoo 2011-12 (in
          <a href="https://jsfoo.in/bangalore2011">Bangalore</a>,
          <a href="https://jsfoo.in/pune2012">Pune</a> and
          <a href="https://jsfoo.in/chennai2012">Chennai</a>),
        <a href="https://droidcon.in/2011">Droidcon India 2011</a>,
        <a href="https://phpcloud.hasgeek.com/">Scaling PHP in the Cloud</a>,
        <a href="https://androidcamp.hasgeek.com/">AndroidCamp</a>
        and <a href="http://www.doctypehtml5.in/">DocType HTML5</a>.
      </p>
    </div>
  </div>
{% endblock %}
{% block footerscripts %}
<script>
  $("a[href='irc://irc.freenode.net/#hasgeek']").click(function(e) {
    if(window.scrollback) return true;
    
    window.scrollback = {
      streams:['hasgeek'], theme: 'light', ticker: true, minimized: false
    };
    /***** don't edit below *****/
    (function(d,s,h,e){e=d.createElement(s);e.async=1;
    e.src=h+'/client.min.js';scrollback.host=h;
    d.getElementsByTagName(s)[0].parentNode.appendChild(e);}
    (document,'script',location.protocol+'//scrollback.io'));

    e.preventDefault();
    return false;
  });
</script>
{% endblock %}
