{% extends "layout.html" %}
{% from "baseframe/components.html" import responsive_networkbar with context -%}
{% block titletags -%}
  <title>{% block title %}{{ config['SITE_TITLE'] }}{% endblock %}</title>
  <meta name="DC.title" content="{{ config['SITE_TITLE'] }}"/>
{%- endblock %}
{% block headerbox %}
  <header>
    {{ responsive_networkbar(siteid=config['SITE_ID'], login=false) }}
    <div id="home-header" class="container">
      <div id="page-header" class="masthead col-md-12">
        <img src="{{ url_for('static', filename='img/hg-banner.png') }}" alt="HasGeek logo" class="logo" width="185" height="139" />
        <p class="primary">
          <span class="s1">Hello!</span>
          <span class="s2">HasGeek creates discussion spaces for geeks.</span>
          <span class="s3">Come to our events to meet like-minded people,</span>
          <span class="s1">learn new things</span>
          <span class="s2">and discover new opportunities.</span>
        </p>
      </div>
    </div>
  </header>
{% endblock %}
{% block headline %}{% endblock %}
{% block content %}
  <div class="row" id="home-content">
    <div class="col-md-6 masthead">
      <p>
        We operate <a href="https://hasjob.co/">Hasjob</a>,
        hang out on a <a href="https://friends.hasgeek.com/">Slack channel</a>, and
        <a href="https://github.com/hasgeek">publish our code</a>.
        Our activities reach thousands of developers every month.
      </p>
    </div>
    <div class="col-md-6 masthead">
      <p>
        <a href="https://talkfunnel.com/">Speak at our events</a>,
        or <a href="http://eepurl.com/duGmH">sign up to be notified</a> when we do one.
        Watch videos from past events on <a href="https://hasgeek.tv/">HasGeek TV</a>.
        Coming up:
      </p>
    </div>
  </div>
  <ul class="cardset row">
    {%- for etitle, edate, eurl, edesc in [
        ("NodeJS Workshop", "Sat, Sep 10 – Sun, Sep 11, Bangalore", 'https://jsfoo.in/2016/nodejs-workshop/',
          "Learn from Node’s event loop right up to automating with GruntJS"),
        ("Good Enough Design for Responsive Web Apps", "Sat, Sep 10, Bangalore", 'https://metarefresh.in/2016/workshop',
          "Learn how to create a good system and custom front-end patterns for your web app that works across devices of any screen size, and speed up development by helping your team coordinate using a living style guide"),
        ("JSFoo 2016 & Meta Refresh 2016", "Thu, Sep 15 – Sat, Sep 17, Bangalore", 'https://jsfoo.in/2016/',
          "Tackling speed and performance for JavaScript; rebooting Meta Refresh as a product design conference"),
        ("HTTP Bottom Up", "Fri, Sep 16 – Sat, Sep 17, Bangalore", 'https://pipal.in/workshops/2016/http-bottom-up/',
          "Explore everything that happens behind the scenes of your favorite web framework"),
        ("Generators Inside Out", "Sun, Sep 18, Bangalore", 'https://pipal.in/workshops/2016/generators-inside-out/',
          "An in-depth introduction to generators in Python"),
        ("Two Day Container workshop on Docker platform", "Sat, Sep 24 – Sat, Sep 25, Bangalore", 'https://www.instamojo.com/devopsnexus/two-day-container-workshop-on-docker-platfor/',
          "Learn how to run Docker containers on critical production environments"),
        ("droidconIN 2016", "Thu, Nov 10 – Fri, Nov 11, Bangalore", 'https://droidconin.talkfunnel.com/2016/',
          "The sixth edition of India’s premier Android conference"),
        ("50p 2016", "Wed, Dec 7 – Thu, Dec 8, Bangalore", 'https://50p.talkfunnel.com/2016/',
          "A conference about India's digital payments ecosystem"),
        ] %}
      <li class="col-md-4 col-sm-6">
        <a href="{{ eurl }}">
          <div class="card-title">
            <h2>{{ etitle }}</h2>
            <h3>{{ edate }}</h3>
          </div>
          <div class="card-body">
            {{ edesc }}
          </div>
        </a>
      </li>
    {%- endfor %}
  </ul>
  <div class="row">
    <div class="col-md-12 masthead">
      <p>
        Previously:
        <a href="https://fifthelephant.in/2016/">The Fifth Elephant 2016</a>,
        <a href="https://fifthelephant.in/2016/deep-learning/">Deep Learning Conf 2016</a>,
        <a href="https://rootconf.in/2016/">Rootconf 2016</a>,
        <a href="https://droidcon.in/2015/">droidconIN 2015</a>,
        <a href="http://www.juliacon.in/2015/">JuliaCon India 2015</a>,
        <a href="https://jsfoo.in/2015/">JSFoo 2015</a>,
        <a href="https://fifthelephant.talkfunnel.com/2015/">The Fifth Elephant 2015</a>,
        <a href="https://rootconf.talkfunnel.com/2015/">Rootconf 2015</a>,
        <a href="https://metarefresh.talkfunnel.com/2015/">Meta Refresh 2015</a>,
        <a href="https://rootconf.talkfunnel.com/informationsecurityworkshop/">Information Security workshop</a>,
        <a href="https://droidcon.in/2014/">Droidcon India 2014</a>,
        <a href="https://jsfoo.in/2014/">JSFoo 2014</a>,
        <a href="https://fifthelephant.in/2014/">The Fifth Elephant 2014</a>,
        <a href="https://rootconf.in/2014/">Rootconf 2014</a>,
        <a href="https://funnel.hasgeek.com/redis-miniconf-2014">Redis Miniconf</a>,
        <a href="https://metarefresh.in/2014/">Meta Refresh 2014</a>,
        <a href="https://metarefresh.in/2014/angularjs-miniconf">AngularJS Miniconf</a>,
        <a href="https://droidcon.in/2013/">Droidcon India 2013</a>,
        <a href="https://jsfoo.in/2013/">JSFoo 2013</a>,
        <a href="https://cssworkshop.metarefresh.in/">Responsive Web Design workshop</a>,
        <a href="http://hasgeektv.doattend.com/">HasGeek TV workshop</a>,
        <a href="https://advancedpython.hasgeek.com/">Advanced Python workshop</a>,
        <a href="https://gitworkshop.hasgeek.com/">Git workshop</a>,
        <a href="https://fifthelephant.in/2013/">The Fifth Elephant 2013</a>,
        <a href="https://pigworkshop.fifthelephant.in/">Pig workshop</a>,
        <a href="https://cssworkshop.metarefresh.in/2013-03/">CSS for the Soul</a>,
        <a href="https://metarefresh.in/2013/">Meta Refresh 2013</a>,
        <a href="https://droidcon.in/2012/">Droidcon India 2012</a>,
        <a href="https://funnel.hasgeek.com/jsfoo/">JSFoo 2012</a>,
        <a href="https://cartonama.com/2012/">Cartonama Conference</a>,
        <a href="https://fifthelephant.in/2012/">The Fifth Elephant 2012</a>,
        <a href="https://rootconf.in/bangalore2012">Rootconf</a>,
        <a href="https://metarefresh.in/2012/">Meta Refresh 2012</a>,
        <a href="https://workshop.cartonama.com/">Cartonama Workshop</a>,
        JSFoo 2011-12 (in
          <a href="https://jsfoo.in/bangalore2011">Bangalore</a>,
          <a href="https://jsfoo.in/pune2012">Pune</a> and
          <a href="https://jsfoo.in/chennai2012">Chennai</a>),
        <a href="https://droidcon.in/2011">Droidcon India 2011</a>,
        <a href="https://phpcloud.hasgeek.com/">Scaling PHP in the Cloud</a>,
        <a href="https://androidcamp.hasgeek.com/">AndroidCamp</a>
        and <a href="http://www.doctypehtml5.in/">DocType HTML5</a>.
      </p>
    </div>
  </div>
{% endblock %}
{% block footerscripts %}
{#-
<script>
    window.scrollback = {
      streams:['hasgeek'], theme: 'light', ticker: true, minimize: true
    };
    /***** don't edit below *****/
    (function(d,s,h,e){e=d.createElement(s);e.async=1;
    e.src=h+'/client.min.js';scrollback.host=h;
    d.getElementsByTagName(s)[0].parentNode.appendChild(e);}
    (document,'script',location.protocol+'//scrollback.io'));
</script>
-#}
{% endblock %}
