{% extends "layout.html.jinja2" %}
{% from "baseframe/components.html.jinja2" import responsive_networkbar with context -%}
{% block titletags -%}
  <title>{% block title %}{{ config['SITE_TITLE'] }}{% endblock %}</title>
  <meta name="DC.title" content="{{ config['SITE_TITLE'] }}"/>
{%- endblock %}
{% block headerbox %}
  <header>
    {{ responsive_networkbar(siteid=config['SITE_ID'], login=false) }}
    <div id="home-header" class="container">
      <div id="page-header" class="masthead col-md-12">
        <img src="{{ url_for('static', filename='img/hg-banner.png') }}" alt="HasGeek logo" class="logo" width="185" height="139" />
        <p class="primary">
          <span class="s1">Hello!</span>
          <span class="s2">HasGeek creates discussion spaces for geeks.</span>
          <span class="s3">Come to our events to meet like-minded people,</span>
          <span class="s1">learn new things</span>
          <span class="s2">and discover new opportunities.</span>
        </p>
      </div>
    </div>
  </header>
{% endblock %}
{% block headline %}{% endblock %}
{% block content %}
  <div class="row" id="home-content">
    <div class="col-md-6 masthead">
      <p>
        We operate <a href="https://hasjob.co/" class="click">Hasjob</a>,
        hang out on a <a href="https://friends.hasgeek.com/" class="click">Slack channel</a>, and
        <a href="https://github.com/hasgeek" class="click">publish our code</a>.
        Our activities reach thousands of developers every month.
      </p>
    </div>
    <div class="col-md-6 masthead">
      <p>
        <a href="https://talkfunnel.com/" class="click">Speak at our events</a>,
        or <a href="http://eepurl.com/cygsfr" class="click">sign up to be notified</a> when we do one.
        Watch videos from past events on <a href="https://hasgeek.tv/" class="click">HasGeek TV</a>.
      </p>
    </div>
  </div>
  <div class="row" id="app">
      <h2 class="section-heading">Upcoming Events</h2> (<a href="https://github.com/hasgeek/events" target="_blank" class="click">Add your event</a>)
      <div id="events-container"><h2 class="text-center"><span class="loading">&nbsp;</span></h2></div>
  </div>
  <div class="row">
      <h2 class="col-xs-12">Upcoming Conferences</h2>
      <div id="conf-container"><h2 class="text-center"><span class="loading">&nbsp;</span></h2></div>
  </div>
  <div class="row">
    <div class="col-md-12 masthead">
      <p>
        Previously:
        <a href="https://kilter.in/2017/" class="click">Kilter 2017</a>,
        <a href="https://50p.in/2017/" class="click">50p 2017</a>,
        <a href="https://droidcon.in/2016/" class="click">droidconIN 2016</a>,
        <a href="https://metarefresh.in/2016/" class="click">Meta Refresh 2016</a>,
        <a href="https://jsfoo.in/2016/" class="click">JSFoo 2016</a>,
        <a href="https://www.instamojo.com/devopsnexus/two-day-container-workshop-on-docker-platfor/" class="click">Two Day Container workshop on Docker platform</a>,
        <a href="https://pipal.in/workshops/2016/http-bottom-up/" class="click">HTTP Bottom Up</a>,
        <a href="https://pipal.in/workshops/2016/generators-inside-out/" class="click">Generators Inside Out</a>,
        <a href="https://jsfoo.in/2016/nodejs-workshop/" class="click">NodeJS Workshop</a>,
        <a href="https://metarefresh.in/2016/workshop" class="click">Good Enough Design for Responsive Web Apps</a>,
        <a href="https://fifthelephant.in/2016/" class="click">The Fifth Elephant 2016</a>,
        <a href="https://fifthelephant.in/2016/deep-learning/" class="click">Deep Learning Conf 2016</a>,
        <a href="https://rootconf.in/2016/" class="click">Rootconf 2016</a>,
        <a href="https://droidcon.in/2015/" class="click">droidconIN 2015</a>,
        <a href="http://www.juliacon.in/2015/" class="click">JuliaCon India 2015</a>,
        <a href="https://jsfoo.in/2015/" class="click">JSFoo 2015</a>,
        <a href="https://fifthelephant.talkfunnel.com/2015/" class="click">The Fifth Elephant 2015</a>,
        <a href="https://rootconf.talkfunnel.com/2015/" class="click">Rootconf 2015</a>,
        <a href="https://metarefresh.talkfunnel.com/2015/" class="click">Meta Refresh 2015</a>,
        <a href="https://rootconf.talkfunnel.com/informationsecurityworkshop/" class="click">Information Security workshop</a>,
        <a href="https://droidcon.in/2014/" class="click">Droidcon India 2014</a>,
        <a href="https://jsfoo.in/2014/" class="click">JSFoo 2014</a>,
        <a href="https://fifthelephant.in/2014/" class="click">The Fifth Elephant 2014</a>,
        <a href="https://rootconf.in/2014/" class="click">Rootconf 2014</a>,
        <a href="https://funnel.hasgeek.com/redis-miniconf-2014" class="click">Redis Miniconf</a>,
        <a href="https://metarefresh.in/2014/" class="click">Meta Refresh 2014</a>,
        <a href="https://metarefresh.in/2014/angularjs-miniconf" class="click">AngularJS Miniconf</a>,
        <a href="https://droidcon.in/2013/" class="click">Droidcon India 2013</a>,
        <a href="https://jsfoo.in/2013/" class="click">JSFoo 2013</a>,
        <a href="https://cssworkshop.metarefresh.in/" class="click">Responsive Web Design workshop</a>,
        <a href="http://hasgeektv.doattend.com/" class="click">HasGeek TV workshop</a>,
        <a href="https://advancedpython.hasgeek.com/" class="click">Advanced Python workshop</a>,
        <a href="https://gitworkshop.hasgeek.com/" class="click">Git workshop</a>,
        <a href="https://fifthelephant.in/2013/" class="click">The Fifth Elephant 2013</a>,
        <a href="https://pigworkshop.fifthelephant.in/" class="click">Pig workshop</a>,
        <a href="https://cssworkshop.metarefresh.in/2013-03/" class="click">CSS for the Soul</a>,
        <a href="https://metarefresh.in/2013/" class="click">Meta Refresh 2013</a>,
        <a href="https://droidcon.in/2012/" class="click">Droidcon India 2012</a>,
        <a href="https://funnel.hasgeek.com/jsfoo/" class="click">JSFoo 2012</a>,
        <a href="https://cartonama.com/2012/" class="click">Cartonama Conference</a>,
        <a href="https://fifthelephant.in/2012/" class="click">The Fifth Elephant 2012</a>,
        <a href="https://rootconf.in/bangalore2012" class="click">Rootconf</a>,
        <a href="https://metarefresh.in/2012/" class="click">Meta Refresh 2012</a>,
        <a href="https://workshop.cartonama.com/" class="click">Cartonama Workshop</a>,
        JSFoo 2011-12 (in
          <a href="https://jsfoo.in/bangalore2011" class="click">Bangalore</a>,
          <a href="https://jsfoo.in/pune2012" class="click">Pune</a>, and
          <a href="https://jsfoo.in/chennai2012" class="click">Chennai</a>),
        <a href="https://droidcon.in/2011" class="click">Droidcon India 2011</a>,
        <a href="https://phpcloud.hasgeek.com/" class="click">Scaling PHP in the Cloud</a>,
        <a href="https://androidcamp.hasgeek.com/" class="click">AndroidCamp</a>
        and <a href="http://www.doctypehtml5.in/" class="click">DocType HTML5</a>.
      </p>
    </div>
  </div>
{% endblock %}
{% block footerscripts %}
{% raw %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.13/moment-timezone-with-data.min.js"></script>
<script id='event-card' type='text/ractive'>
  <div class="col-md-4 col-sm-6 card-wrapper">
    <div class="event-card">
      <div class="event-card-title-block">
        <h2 class="event-card-title">{{ title }}</h2>
        <small class="event-card-title-date">{{ date }}, {{ city }}</small>
      </div>
      <p class="event-card-blurb">{{ blurb }}</p>
      <div class="event-card-btn-group">
      {{#if url}}
      <a href="{{ url }}" class="btn btn-info event-card-btn-url" target="_blank" data-action="Attend">Attend</a>
      {{/if}}
      </div>
    </div>
  </div>
</script>
<script id='conf-card' type='text/ractive'>
  {{#if color}}
    {{>style-conf-card}}
  {{/if}}
  <div class="col-md-4 col-sm-6 card-wrapper">
    <div class="conf-card conf-card-{{idx}}">
      <div class="conf-card-title-block conf-card-title-block-{{idx}}">
        <h2 class="conf-card-title conf-card-title-{{idx}}">{{ title }}</h2>
        <small class="conf-card-title-date conf-card-title-date-{{idx}}">{{ date }}, {{ city }}</small>
      </div>
      <p class="conf-card-blurb conf-card-blurb-{{idx}}">{{ blurb }}</p>
      <div class="conf-card-btn-group">
        {{#if url}}
        <a href="{{ url }}" class="btn btn-sm btn-info conf-card-btn-url conf-card-btn-url-{{idx}}" target="_blank" data-action="Buy tickets"><i class="fa fa-ticket"></i> Tickets</a>
        {{/if}}
        {{#if funnel}}
        <a href="{{ funnel }}" class="btn btn-sm btn-info conf-card-btn-funnel conf-card-btn-funnel-{{idx}}" target="_blank" data-action="View proposals"><i class="fa fa-file-text-o"></i> Call for proposals</a>
        {{/if}}
      </div>
    </div>
  </div>
</script>
<script id='style-conf-card' type='text/ractive'>
<style type="text/css">
  .conf-card-title-block-{{idx}} {
    background-color: {{ color.primary_dark }};
  }

  .conf-card-btn-url-{{idx}} {
    background-color: {{ color.primary_dark }};
    border-color: {{ color.primary_dark }};
    text: {{buttonTextColor}};
  }
  .conf-card-btn-url-{{idx}}:hover, .conf-card-btn-url-{{idx}}:focus, .conf-card-btn-url-{{idx}}:active {
    background-color: {{ color.primary_dark }};
    border-color: {{ color.primary_dark }};
    filter: brightness(85%);
  }
  .conf-card-btn-funnel-{{idx}} {
    background-color: {{ color.primary_dark }};
    border-color: {{ color.primary_dark }};
    text: {{buttonTextColor}};
  }
  .conf-card-btn-funnel-{{idx}}:hover, .conf-card-btn-funnel-{{idx}}:focus, .conf-card-btn-funnel-{{idx}}:active {
    background-color: {{ color.primary_dark }};
    border-color: {{ color.primary_dark }};
    filter: brightness(85%);
  }
</style>
</script>
<script>

    $(document).ready(function (argument) {
      loadEvents();
    });

    function loadEvents() {
      $.getJSON("https://hasgeek.github.io/events/api/all.json")
        .done(function success(data) {

          eventComponent = Ractive.extend({
            template: '{{#if inFuture}}{{>event-card}}{{/if}}',
            computed: {
              inFuture: function() {
                return new Date(this.get('end_time')) > new Date();
              },
              date: function () {
                startTime = moment(this.get('start_time')).tz("Asia/Kolkata")
                endTime = moment(this.get('end_time')).tz("Asia/Kolkata")
                if (startTime.format("D MMM YYYY") === endTime.format("D MMM YYYY")) { // same day
                  return startTime.format('ddd D MMM, h:mm a')+"–"+endTime.format("h:mm a");
                }
                else { // multiple days
                  return startTime.format("D")+"–"+endTime.format("D MMM YYYY");
                }
              },
              buttonTextColor: function(color) { return idealTextColor(this.get('color.primary_dark')); }
            }
          });

          confComponent = Ractive.extend({
            template: '{{#if inFuture}}{{>conf-card}}{{/if}}',
            computed: {
              inFuture: function() {
                return new Date(this.get('start_time')) > new Date();
              },
              date: function () {
                startTime = moment(this.get('start_time')).tz("Asia/Kolkata")
                endTime = moment(this.get('end_time')).tz("Asia/Kolkata")
                if (startTime.format("D MMM YYYY") === endTime.format("D MMM YYYY")) { // same day
                  return endTime.format("D MMM YYYY");
                }
                else { // multiple days
                  return startTime.format("D")+"–"+endTime.format("D MMM YYYY");
                }
              },
              buttonTextColor: function(color) { return idealTextColor(this.get('color.primary_dark')); }
            }
          });

          ractive = new Ractive({
            el: 'events-container',
            template: '{{#events:idx}}<event/>{{/events}}',
            data: {
              events: data.events
            },
            complete: function() {
              $('#events-container .btn').click(function(event) {
                var target = $(this).attr('href');
                var action = $(this).data('action');
                HasWeb.sendGA('click', action, target);
              });
            },
            components: { event: eventComponent }
          });

          ractive = new Ractive({
            el: 'conf-container',
            template: '{{#conferences:idx}}<conf/>{{/conferences}}',
            data: {
              conferences: data.conferences
            },
            complete: function() {
              $('#conf-container .btn').click(function(event) {
                var target = $(this).attr('href');
                var action = $(this).data('action');
                HasWeb.sendGA('click', action, target);
              });
            },
            components: { conf: confComponent }
          });

        })
        .fail(function( jqxhr, textStatus, error ) {
          var err = textStatus + ", " + error;
          console.log("Request Failed: " + err );
        });
    }

    function loadConferences() {
      $.getJSON("https://hasgeek.github.io/events/conferences.json")
        .done(function success(data) {

        })
        .fail(function( jqxhr, textStatus, error ) {
          var err = textStatus + ", " + error;
          console.log("Request Failed: " + err );
        });
    }

    function idealTextColor(bgColor) {
      var nThreshold = 105;
      var components = getRGBComponents(bgColor);
      var bgDelta = (components.R * 0.299) + (components.G * 0.587) + (components.B * 0.114);
      return ((255 - bgDelta) < nThreshold) ? "#000000" : "#ffffff";
    }

    function getRGBComponents(color) {
      var r = color.substring(1, 3);
      var g = color.substring(3, 5);
      var b = color.substring(5, 7);

      return {
        R: parseInt(r, 16),
        G: parseInt(g, 16),
        B: parseInt(b, 16)
      };
    }
</script>
{% endraw %}
{% endblock %}
