{% extends "layout.html" %}
{% block title %}{{ page.title }}{% endblock %}
{% block headline %}{% endblock %}
{% block content -%}
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
      <div class="page-header"><h1>{{ self.title() }}</h1></div>
      {{ page.html|safe }}
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <ul class="well nav nav-list section">
        <li class="nav-header">Site Policy</li>
        <li><a href="/site/terms">Terms &amp; Conditions</a></li>
        <li><a href="/site/disclaimer">Disclaimer</a></li>
        <li><a href="/site/privacy">Privacy Policy</a></li>
        <li><a href="/site/refunds">Cancellation &amp; Refund Policy</a></li>
      </ul>
    </div>
  </div>
{%- endblock %}
