$body-line-height: 20px;

#bs3-template{
    #page-header{
        height: auto;
        visibility: visible;
    }
}
#page-header.masthead {
    padding-top: $body-line-height;
    padding-bottom: $body-line-height / 2;

}
.masthead {
    font-size: 30px;
    line-height: $body-line-height * 2;
    img.logo {
        float: none;
        display: none;
    }
    p {
        // margin-top: $body-line-height;
        margin-bottom: $body-line-height * 1.5;
        font-size: 19px;
        line-height: $body-line-height * 1.5;
    }
    p.primary {
        margin-left: 0;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 10px;
        margin-top: 0;
    }
    .s1 {
        color: #df5e0e;
        a {
            border-bottom-color: #df5e0e;
        }
    }
    .s2 {
        color: #816894;
        a {
            border-bottom-color: #816894;
        }
    }
    .s3 {
        color: #f0a40c;
        a {
            border-bottom-color: #f0a40c;
        }
    }
}
.grey-bg p{
    font-size: 16px;
    line-height: 22px;
}

.widget-boxes {
    display: table;
    .widget {
        display: table-cell;
        vertical-align: bottom;
        padding-right: 1em;
    }
}

.twtr-widget {
    margin-bottom: 4px; /* Hardcoded for font's baseline */
}

.twtr-timeline, .twtr-doc {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

#footer-twitter {
    height: 22px;
}

@import "footer";

@media screen and (min-width: 768px) {
    .masthead {
        img.logo {
            float: left;
            display: block;
        }
        p.primary {
            margin-left: 200px;
            font-size: 30px;
            line-height: $body-line-height * 2;
            margin-bottom: 0;
            margin-top: 10px;
        }
    }
    #page-header.masthead{
        padding-left: 0px;
        padding-right: 0px;
    }
}

/******* Changes to be adapted to baseframe after bs3 migration ********/
.cardset li .card-body, .userset li .card-body {
    margin: 22px -14px 0;
}

/******* Changes to be omitted after upgrading networkbar to bs3 *******/
#hg-bar .container{
    margin: 0 15px 0 15px;
}
@media screen and (min-width: 768px){
    #hg-bar .container{
        margin: auto;
    }
}
