$body-line-height: 20px;

#page-header.masthead {
    padding-top: $body-line-height;
    padding-bottom: $body-line-height / 2;
}

.masthead {
    font-size: 30px;
    line-height: $body-line-height * 2;
    img.logo {
        float: left;
    }
    p {
        // margin-top: $body-line-height;
        margin-bottom: $body-line-height * 1.5;
        font-size: 19px;
        line-height: $body-line-height * 1.5;
    }
    p.primary {
        margin-left: 200px;
        font-size: 30px;
        line-height: $body-line-height * 2;
        margin-bottom: 0;
        margin-top: 10px;
    }
    .s1 {
        color: #df5e0e;
        a {
            border-bottom-color: #df5e0e;
        }
    }
    .s2 {
        color: #816894;
        a {
            border-bottom-color: #816894;
        }
    }
    .s3 {
        color: #f0a40c;
        a {
            border-bottom-color: #f0a40c;
        }
    }
}

.widget-boxes {
    display: table;
    .widget {
        display: table-cell;
        vertical-align: bottom;
        padding-right: 1em;
    }
}

.twtr-widget {
    margin-bottom: 4px; /* Hardcoded for font's baseline */
}

.twtr-timeline, .twtr-doc {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

#footer-twitter {
    height: 22px;
}

@import "footer";

@media screen and (max-width: 767px) {
    .masthead {
        img.logo {
            float: none;
        }
        p.primary {
            margin-left: 0;
        }
    }
}

/*********** memorial on top *************/

.contentWrap{
    text-align: center;
    h4{
        font-size: 18px;
        margin-bottom: 50px
    }
}
.featureBorder {
    background: linear-gradient(135deg, #F6F6F6 0px, #ECECEC 83%, #D5D5D5 100%) repeat scroll 0 0 transparent;
    box-shadow: 2px 3px 7px #b5b5b5;
    height: 450px;
    margin: 0 auto;
    position: relative;
    width: 360px;
    display: block;
    margin-top: 70px;
}
.featureInner {
    background-color: #F4EFEA;
    box-shadow: 5px 5px 12px rgba(50, 50, 50, 0.44) inset;
    height: 418px;
    left: 16px;
    overflow: hidden;
    position: absolute;
    top: 16px;
    width: 328px;
}
.featureContent {
    background-image: url("../img/Atul_chitnis.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 0 0;
    background-size: 100%;
    background-color: #FFFFFF;
    border: 1px solid #D5D5D5;
    box-shadow: 0 0 8px rgba(50, 50, 50, 0.3) inset;
    height: 386px;
    left: 15px;
    position: absolute;
    top: 16px;
    width: 297px;
}


.photo-mob{
    display: none;
}
@media screen and (max-width: 480px) {
    .featureBorder{
        display: none;    
    }
    .photo-mob{
        display: block;
        margin: 30px auto;
        border: 10px solid #ccc;
    }
}
